@font-face {
 font-family:"Segoe WP";
 font-style:normal;
 font-weight:normal;
 src:local("Segoe WP"),
 url("SegoeWP.woff") format("woff")
}
* {
 box-sizing:border-box
}
html {
 font-family:"Segoe WP",Arial,sans-serif;
 color:#000
}
h1 {
 margin-top:0;
 text-align:center;
 font-size:22pt;
}
header,
main {
 margin:10px auto;
 padding:15px;
 position:relative;
 width:800px;
 max-width:calc(100vw - 10px)
}
.editButton {
 position:absolute;
 top:15px;
 right:15px;
 border:1px gray solid;
 font-weight:bold;
 padding:5px 10px;
 border-radius:5px;
 color:#000;
 box-shadow:3px 3px #3333
}
.editButton:hover {
 text-decoration:none;
 color:#228b22
}
.sitefooter {
 margin-top:20px;
 font-size:12px;
 text-align:center
}
a {
 text-decoration:none;
 color:blue
}
a:hover {
 text-decoration:underline
}
header {
 font-size:23px
}
header a:link,
header a:visited {
 color:#13335d
}
header a:hover,
header a:active {
 text-decoration:none
}
header hr {
 position:relative
}
hr {
 border:0 none;
 border-bottom:1px #777 solid
}
nav {
 display:flex;
 justify-content:space-evenly;
 color:#4b6d95
}
a.nava:hover,
a.nava:active {
 text-decoration:underline
}
span.titletext {
 color:#000;
 font-weight:bold;
 font-size:65px;
 position:relative;
 display:block;
 text-align:center;
 text-transform:uppercase;
 font-family:"Segoe WP"
}
span.subtitletext {
 text-align:center;
 display:block;
 position:relative;
 font-family:"Segoe WP";
 font-size:20.5px
}
p {
 line-height:24pt;
 font-size:16pt;
}
ul {
 line-height:24pt;
 font-size:16pt;
}
ol {
 line-height:25px
}
blockquote {
 font-family:"Segoe UI", "Arial", "sans-serif";
 font-style:italic;
 font-size:18pt;
 background-color:#f5f5fa;
 padding:1px 10px;
 border-radius:5px;
 line-height:28pt;
}
.quoteleft {
 width:70%;
 position:relative
}
.quoteright {
 left:20%;
 width:70%;
 position:relative
}
p img {
 max-width:100%;
 display:block;
 margin-left:auto;
 margin-right:auto
}
blockquote::before {
 display:inline-block;
 font-weight:normal;
 font-family:"serif";
 content:"“";
 font-size:55pt;
 position:relative;
 line-height:0px;
 left:-5px;
 top:30px
}
blockquote footer {
 position:relative;
 text-align:right
}