$shadowColor: #3333;
$textColor: black;
$panePadding: 15px;

@font-face {
	font-family: 'Segoe WP';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe WP'), url('SegoeWP.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  color: $textColor;
}

h1 {
  margin-top: 0;
  padding-right: 80px; // Leave room for the button
}

header, main {
  margin: 10px auto;
  padding: $panePadding;
  /*
  border: 1px gray solid;
  border-radius: 10px;
  box-shadow: 5px 5px $shadowColor;
  */
  position: relative;
  width: 800px;
  max-width: calc(100vw - 10px);
}

.editButton {
  position: absolute;
  top: $panePadding;
  right: $panePadding;
  border: 1px gray solid;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  color: $textColor;
  box-shadow: 3px 3px $shadowColor;

  &:hover {
    text-decoration: none;
    color: forestgreen;
  }
}

.sitefooter {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}



a {
  text-decoration: none;
  color: blue;

  &:hover {
    text-decoration: underline;
  }
}

header {
  font-size: 23px;

  a:link, a:visited {
    color: #13335d;
  }

  a:hover, a:active {
	text-decoration: none;
  }

  hr {
	position:relative;
  }
}

hr {
  border: 0 none;
  border-bottom: 1px #777 solid;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: #4b6d95;
}

a.nava:hover, a.nava:active {
	text-decoration: underline;
}

span.titletext {
  color:black;
  font-weight:bold;
  font-size:65px;
  position:relative;
  display:block;
  text-align:center;
  text-transform:uppercase;
  font-family:"Segoe WP";
}

span.subtitletext {
  text-align:center;
  display:block;
  position:relative;
  font-family:"Segoe WP";
  font-size:20.5px;
}

p {
	line-height: 25px;
}

ul {
	line-height: 25px;
}

ol {
	line-height: 25px;
}


blockquote {
	font-style:italic;
  background-color: #f5f5fa;
  padding: 1px 15px;
  border-radius: 5px;
}

p img {
	max-width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

blockquote::before {
    display: block;
	font-weight: normal;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -10px;
	top: -10px;
}