!= partial("_document", { title: "Book", description: "Why rent is too high, wages too low, and what we can do about it", img: "/assets/logo.png", alt: "Land is a Big Deal Logo", body: "_index.md" })
