!= partial("_document", { title: "Research", description: "Our practical plan and research project for implementing Land Value Tax policies.", img: "/assets/logo.png", alt: "Land is a Big Deal Logo", body: "_research.md" })
