!= partial("_document", { title: "Research", description: "Our plan & ongoing research concerning how to overcome obstacles and make concrete, pragmatic steps towards implementing Land Value Tax policies.", img: "/assets/logo.png", alt: "Land is a Big Deal Logo", body: "_research.md" })
