header
  a(href="/")
    span(class="titletext") Land is a Big Deal
    span(class="subtitletext") Why rent is too high, wages too low, and what we can do about it
  hr
  nav
    a(href="/") Book
    a(href="/resources") Research
    a(href="/podcasts") Change
