header
  a(href="/")
    span(class="titletext") Land is a Big Deal
    span(class="subtitletext") Why rent is too high, wages too low, and what we can do about it
  hr
  nav
    a(href="/") Home
    a(href="/resources") Resources
    a(href="/podcasts") Podcasts
    a(href="/contribute") Contribute
