header
  a(href="/")
    span(class="titletext") Land is a Big Deal
  span(class="subtitletext") Why rent is too high, wages too low, and what we can do about it
  hr
  nav
    a(class="nava" href="/") The Book
    a(class="nava" href="/resources") The Plan
    a(class="nava" href="/podcasts") Our Research
