!= partial("../_document", { title: "The Plan", description: "This is our plan for fixing economic inefficiency and inequality by changing how we think about land.", img: "/assets/logo.png", alt: "Game of Rent logo", body: "content/_plan.md" })
